ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: grey;
}




.homeTitle {
  text-align: left;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.content {
	 text-align: center;
   font-size: 700%;
   font-weight: bolder;
}

.labStatus {
  text-align: center;
  font-size: 300%;
  font-weight: bolder;
  color: red;
}
